.about{
    &__container{
        max-width: fit-content;
        padding-bottom: 65px;
    
    }
    &__section{
        &__title{
            font-size: large;
        }
        &__content{
            font-size: medium;
        }
    }
}