.footer {
    background-color: $color-footer-bg !important;
    position: -webkit-sticky; /* Safari */
    position: fixed;
    text-align: center;
    z-index: 999;
    overflow: hidden !important;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;

    &__container {
        margin: auto;
    }
    &__row {
        margin: auto;
    }
    &__col {
        margin: auto;
    }
    &__link {
        text-decoration: none !important;
        color: $color-link !important;
        transition: width 2s;
        &:hover{
                color:$color-hover!important;
        }
    }
}