.eventdetails{
    &__jumbotron{
        max-height: fit-content;
        padding-bottom: 0 !important;
        margin-bottom: 0!important;
        padding-top: 10px;
        label{
            color: $color-link;
        }
    }
}