html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: $color-main-bg;
}

#body {
    padding-bottom: 65px;
}
.noside {
    margin-left: 0 !important;
    padding-left: 0 !important;
    margin-right: 0 !important;
    padding-right: 0 !important;
}
.pushdown-content{
    height: 30px;
}

.btn-outline-success{
    border-radius: 1px;
    border-color: $color-link !important;
    border-top-color: $color-link !important;
    border-right-color: $color-link !important;
    border-bottom-color: $color-link !important;
    border-left-color: $color-link !important;
    text-decoration: none !important;
    color: $color-link !important;
    &:hover{
        color: $color-hover !important;
        box-shadow: 0 2px 2px 2px $color-link;
        background-color: $color-nav-bg;
    }
}
